*.o
*.lo

doc/examples/.libs/
doc/examples/io1
doc/examples/io2
doc/examples/parse1
doc/examples/parse2
doc/examples/parse3
doc/examples/parse4
doc/examples/reader1
doc/examples/reader2
doc/examples/reader3
doc/examples/reader4
doc/examples/testWriter
doc/examples/tree1
doc/examples/tree2
doc/examples/xpath1
doc/examples/xpath2
example/.libs/
example/gjobread
libxml2.la
python/.libs/
python/gen_prog
python/libxml2-export.c
python/libxml2-py.c
python/libxml2-py.h
python/libxml2.py
python/libxml2class.py
python/libxml2class.txt
python/libxml2mod.la
runsuite
runtest
runxmlconf
testAutomata
testC14N
testHTML
testModule
testReader
testRegexp
testRelax
testSAX
testSchemas
testThreads
testURI
testXPath
testapi
testchar
testdict
testdso.la
testrecurse
xml2Conf.sh
xmlcatalog
xmllint

Makefile
config.log
config.status
doc/Makefile
doc/devhelp/Makefile
doc/examples/Makefile
example/Makefile
include/Makefile
include/libxml/Makefile
libtool
libxml2.spec
python/Makefile
python/tests/Makefile
xstc/Makefile

.libs
